**bold text**#IS 675 Lab 1: Introduction to Jupyter Notebooks
### Modify the code to make sense for the example provided
---

## 1. Cells
Colab has two types of cells: text and code. Click a cell to select it.

### 1.1 Text cells
Text cells are formatted using a simple markup language called Markdown. Double-click to edit a text cell.<br>
<br>
Headings are rendered as titles.<br>


*   "# Section 1"
*   "# Section 2"
*   "## Sub-section under Section 2"
*   "### Sub-section under the sub-section under Section 2"
<br>
<br>

### 1.2 Code cells
Below is a code cell. You can click in the cell to select it and execute the Python codes in the following ways:

* Click the **Play icon** in the left gutter of the cell;
* Type **Cmd/Ctrl+Enter** to run the cell in place;

In [1]:
print("Welcome to Deep Learning")

Welcome to Deep Learning

### 1.3 Adding, moving, and deleting cells
You can add new cells by using the **+ CODE** and **+ TEXT** buttons that show when you hover between cells. These buttons are also in the toolbar above the notebook where they can be used to add a cell below the currently selected cell.

You can move a cell by selecting it and clicking **Cell Up** or **Cell Down** in the toolbar.

You can delete a cell by selecting it and clicking on the **Delete cell** button on the top-right corner of the cell.

## 2. Save your notebook document


*   File -> Save
*   Type **Cmd/Ctrl+S**

# Part 2: Basic operators and data structures in Python

In [9]:
# Import libraries
import pandas as pd
import seaborn as sns
# Read data (using kagglehub)
import kagglehub

In [20]:
# Download a dataset from kaggle hub
sales = kagglehub.dataset_download("kyanyoga/sample-sales-data")

print("Path to dataset files:", path)

Path to dataset files: /Users/basillatif/.cache/kagglehub/datasets/kyanyoga/sample-sales-data/versions/1

In [21]:
sales_df = pd.read_csv(path + "/sales_data_sample.csv", encoding = "ISO-8859-1")

In [22]:
sales_df.head()

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,10107,30,95.70,2,2871.00,2/24/2003 0:00,Shipped,1,2,2003,...,897 Long Airport Avenue,NaN,NYC,NY,10022,USA,NaN,Yu,Kwai,Small
1,10121,34,81.35,5,2765.90,5/7/2003 0:00,Shipped,2,5,2003,...,59 rue de l'Abbaye,NaN,Reims,NaN,51100,France,EMEA,Henriot,Paul,Small
2,10134,41,94.74,2,3884.34,7/1/2003 0:00,Shipped,3,7,2003,...,27 rue du Colonel Pierre Avia,NaN,Paris,NaN,75508,France,EMEA,Da Cunha,Daniel,Medium
3,10145,45,83.26,6,3746.70,8/25/2003 0:00,Shipped,3,8,2003,...,78934 Hillside Dr.,NaN,Pasadena,CA,90003,USA,NaN,Young,Julie,Medium
4,10159,49,100.00,14,5205.27,10/10/2003 0:00,Shipped,4,10,2003,...,7734 Strong St.,NaN,San Francisco,CA,NaN,USA,NaN,Brown,Julie,Medium

In [23]:
# Examine the number of rows and cols
sales_df.shape

(2823, 25)

In [ ]:
# Show the head rows of a data frame
sales_df.head()

In [ ]:
# Obtain the a value for a specific colum
sales_df['']

In [26]:
# Obtain the values for 2 columns
#sales_df[['', '']]

In [ ]:
# Extract the first row from data frame
pokemon.iloc[0,:]

In [ ]:
# Extract the last row from data frame
pokemon.iloc[-1,:]

In [27]:
# Extract the third column from data frame
sales_df.iloc[:,2]

0        95.70
1        81.35
2        94.74
3        83.26
4       100.00
         ...
2818    100.00
2819    100.00
2820    100.00
2821     62.24
2822     65.52
Name: PRICEEACH, Length: 2823, dtype: float64

In [28]:
# Extract the last column from data frame
sales_df.iloc[:,-1]

0        Small
1        Small
2       Medium
3       Medium
4       Medium
         ...
2818     Small
2819    Medium
2820    Medium
2821     Small
2822    Medium
Name: DEALSIZE, Length: 2823, dtype: object

In [29]:
# Extract the first three columns from the data frame
sales_df.iloc[:,0:3]

      ORDERNUMBER  QUANTITYORDERED  PRICEEACH
0           10107               30      95.70
1           10121               34      81.35
2           10134               41      94.74
3           10145               45      83.26
4           10159               49     100.00
...           ...              ...        ...
2818        10350               20     100.00
2819        10373               29     100.00
2820        10386               43     100.00
2821        10397               34      62.24
2822        10414               47      65.52

[2823 rows x 3 columns]

In [30]:
# Extract the value in the first row and fifth column of the data frame
sales_df.iloc[0, 4]

2871.0

In [ ]:
# Histogram of Attack
snsplot = sns.histplot(x='', data = sales_df)
snsplot.set_title("Histogram of data set")

In [ ]:
# Plot a categorical variable: Legendary
snsplot = sns.countplot(x='Legendary', data=sales_df)
snsplot.set_title("Countplot of...")